USE [master]
GO
/****** Object:  Database [SubirDocumentos]    Script Date: 27/12/2022 08:34:26 a. m. ******/
CREATE DATABASE [SubirDocumentos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SubirDocumentos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SubirDocumentos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SubirDocumentos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SubirDocumentos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SubirDocumentos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SubirDocumentos]
GO
/****** Object:  Table [dbo].[Documentos]    Script Date: 27/12/2022 08:34:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documentos](
	[IdDocumento] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](500) NULL,
	[Ruta] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[SpGuardarDocumento]    Script Date: 27/12/2022 08:34:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SpGuardarDocumento](
@descripcion VARCHAR(500),
@ruta VARCHAR(200)
)
AS
BEGIN
	INSERT INTO Documentos(Descripcion,Ruta) VALUES (@descripcion, @ruta)
END
GO
USE [master]
GO
